.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive !important;
  font-weight: 400;
  font-style: normal;
}
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: x-small;
}
